@model Libro

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<div style="margin-top: 50px">
    <h3>żEstá seguro que desea eliminar este libro?</h3>
    <hr />
    <h4>@Model.Nombre</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDePaginas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadDePaginas)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UrlImagenTapa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UrlImagenTapa)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idioma)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPublicacion)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListaAutores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListaAutores)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>
    </dl>
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Volver al listado</a>
    </form>
</div>
