@using Microsoft.AspNetCore.Identity
@model WebMvc.Models.Libro
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
    ViewData["Title"] = "Detalles";
}


<div style="margin-top:75px">
    <h4>Libro</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDePaginas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadDePaginas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UrlImagenTapa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UrlImagenTapa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idioma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPublicacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListaAutores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListaAutores)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    @if (!SignInManager.IsSignedIn(User))
    {
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al inicio</a>
    }
    else if (SignInManager.IsSignedIn(User))
    {
        if (UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin").Result)
        {
            <a asp-controller="Libro" asp-action="Index" class="btn btn-primary">Volver al listado</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al inicio</a>
        }

    }
</div>