@model IEnumerable<Libro>

@{
    ViewData["Title"] = "Listado de libros";
}

<main class="container mt-5 pt-5 pb-5">
    <h2>Listado de libros</h2>
    <a asp-action="Create" class="btn btn-primary">Agregar libro</a>
    <table id="miTabla" class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isbn)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var libro in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => libro.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => libro.Isbn)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@libro.Id" class="btn btn-outline-primary">Editar</a>
                        <a asp-action="Details" asp-route-id="@libro.Id" class="btn btn-outline-info">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@libro.Id" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

@* @section Styles {
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
} *@

@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script>
        // $(document).ready(function () {
        //     $('#miTabla').DataTable();
        // });
                $(document).ready(function () {
                    $('#miTabla').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
            },
            pageLength: 10,           // cantidad de filas por página
            lengthMenu: [5, 10, 25, 50], // opciones del selector "mostrar X registros"
            order: [[0, 'asc']],      // columna y orden inicial (0 = primera columna)
            columnDefs: [
                { targets: 2, type: 'num' }    // forzar tipo de dato para ordenar bien (ej. precios)
            ],
            responsive: true          // si tenés el plugin Responsive instalado
        });
        });
    </script>
}