@model IEnumerable<Libro>

@{
    ViewData["Title"] = "Listado de libros";
}

<main class="container mt-5 pt-5 pb-5">
    <table id="miTabla" class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isbn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Editorial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaPublicacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantidadDePaginas)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var libro in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => libro.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => libro.Isbn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => libro.Editorial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => libro.FechaPublicacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => libro.CantidadDePaginas)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

@* @section Styles {
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
} *@

@section Scripts {
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
}